@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

*{
  -webkit-font-feature-settings: "kern" off;
  font-feature-settings: "kern" off;
  -webkit-font-kerning: none;
  font-kerning: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  word-break: break-word;
  outline: none;
  text-decoration: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: AvertaStd,
              -apple-system,
              BlinkMacSystemFont,
              Grandstander,
              cursive,
              sans-serif;
  -webkit-scroll-chaining: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}